@use "./const" as const;

ul {
  list-style-type: none;
  padding: 0;
}

.button {
  background-color: const.$white;
  color: const.$blackPearl;
  font-weight: const.$semi-bold;
  border: 2px const.$blackPearl solid;
  border-radius: 8px;
  font-size: 18px;
  padding: 5px 15px;
  &:hover {
    animation: fillButton 0.2s ease-out both;
    cursor: pointer;
  }
}

@keyframes fillButton {
  0% {
    background-color: const.$white;
    color: const.$blackPearl;
  }
  100% {
    background-color: const.$blackPearl;
    color: const.$white;
  }
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navbar {
  padding: 35px 20px;
  border-right: 2px const.$seashell solid;
  min-width: 230px;
}

.content {
  padding: 20px 70px;
  overflow-y: auto;
  flex: 1;
}

#test {
  height: 1000px;
}

h1 {
  font-weight: const.$bold;
  color: const.$black;
  font-size: 24px;
}

h2 {
  font-weight: const.$regular;
  color: const.$manatee;
  text-decoration: none;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    width: 1%;
  }
  td {
    text-align: center;
    height: 35px;
  }

  th {
    border-bottom: 2px const.$seashell solid;
    height: 35px;
  }
}
