$white: #ffffff;
$athensGray: #fbfbfc;
$lightGray: #f1f1f1;
$grey: #9097a1;
$blue: #003171;
$blackPearl: #05172e;
$black: #000000;

$regular: 400;
$semi-bold: 600;
$bold: 700;

$aTraiterFull: #ffa500;
$aTraiterEmpty: rgba(255, 165, 0, 0.25);
