$white: #ffffff;
$athensGray: #fbfbfc;
$seashell: #f1f1f1;
$manatee: #9097a1;
$modnightBlue: #003171;
$blackPearl: #05172e;
$black: #000000;

$regular: 400;
$semi-bold: 600;
$bold: 700;

$aTraiterFull: #ffa500;
$aTraiterEmpty: rgba(255, 165, 0, 0.25);
