@use "../../const" as const;

.navCommande {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    padding: 10px 0;
    margin: 0;
  }
  margin-bottom: 20px;
}

.select {
  position: relative;
  a {
    padding: 10px;
    color: const.$modnightBlue;
    text-decoration: none;
    font-weight: const.$semi-bold;
    font-size: 12px;
  }
}
.notSelect {
  position: relative;
  a {
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    font-weight: const.$semi-bold;
    color: const.$manatee;
  }

  &:hover {
    a {
      color: const.$modnightBlue;
    }
    //after hover
    .line {
      border-bottom: 2px solid const.$modnightBlue;
    }
  }
}

.line {
  width: 100%;
  border-bottom: 2px solid const.$seashell;
  position: absolute;
  bottom: 2px;
  left: 0;
}

.lineselect {
  width: 100%;
  border-bottom: 2px solid const.$modnightBlue;
  position: absolute;
  left: 0;
  bottom: 2px;
}
